<table class="table">
  <!-- Table header -->
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>salaire</th>
      <th>Specialite</th>
      <th >Action</th>
    </tr>
  </thead>
  <!-- Table body -->
  <tbody>
    @for (Empl of employes(); track Empl.id) {

      <tr>

        <td>{{Empl.id}}</td>
        <td>{{Empl.name}}</td>
        <td>{{Empl.salaire}}</td>
        <td>{{Empl.specialite }}</td>



        <!-- Delete button -->
        <td class="action">
          <!-- Delete button with confirmation dialog -->
          <button class="btn btn-danger" (click)="openDeleteDialog(Empl.id)">Delete</button>
          <!-- Edit button with edit prompt dialog -->
          <button class="btn btn-primary" (click)="openEdiForm(Empl)">Edit</button>
        </td>


    </tr>
    }

  </tbody>
</table>
